@using sergeylvov.Models


<div class="header">
    <p><img src="@Model.Image" height="50px" class="portret"/> Name:@Model.Name; email:@Model.Email</p>
</div>

@code {
    [Parameter]
    public HeaderModel Model { get; set; }

}
