@using sergeylvov.Models


<div class="header">
    <div class="info" ><img src="@Model.Image" height="40px" class="portret"/><p class="header_text">Name:@Model.Name; email:@Model.</p></div>
</div>

@code {
    [Parameter]
    public HeaderModel Model { get; set; }

}
