@model HomeModel
@using sergeylvov.Views.Shared.Components

@{
	Layout = "";
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header>
    <component type="typeof(Header)" render-mode="ServerPrerendered" param-Model=@Model.Header/>
</header>
<div>
    <component type="typeof(Articles)" render-mode="ServerPrerendered" param-articles=@Model.articles />
</div>

<footer>
    <component type="typeof(Footer)" render-mode="ServerPrerendered"/>
</footer>
</body>
</html>